wheel
backports.functools-lru-cache==1.5
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.3
mysql-connector==2.1.6
numpy==1.15.2
pandas==0.23.4
pkg-resources==0.0.0
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.12
subprocess32==3.5.3
backports.functools-lru-cache==1.5
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.3
mysql-connector==2.1.6
numpy==1.15.2
pandas==0.23.4
pkg-resources==0.0.0
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.12
subprocess32==3.5.3
